#daily-challenge-card {
  border: 0.1rem solid rgb(44, 44, 44);
  border-radius: 10px;
  width: 50%;
  margin: 6rem auto 72px auto;
  padding: 24px;
  box-shadow: 1px 2px 8px rgba(11, 39, 18, 0.3);
  background-color: rgba(46, 46, 46, 0.8);
  color: rgb(2, 192, 33);
  word-wrap: break-word;
}

#curly-brackets {
  width: 4rem;
  height: 4rem;
  border-radius: 6.125rem;
  border: 5px;
  border-style: solid;
  color: rgb(44, 44, 44);
  margin-top: -7.5rem;
}

#challenge-header {
  margin-top: 2rem;
}

#todays-challenge {
  color: rgb(0, 206, 34);
  font-weight: bold;
  font-size: 2rem;
  margin-top: 2rem;
}

h1 {
  font-size: 4rem;
  color: rgb(0, 206, 34);
  text-shadow: rgb(74, 223, 99);
}

h2 {
  color: rgb(0, 206, 34);
}

span {
  color: rgb(4, 112, 22);
}

#course-link-text {
  font-size: 1rem;
}
